body{
    font-family: sans-serif;
}





.p1{
    font-size: 80px;
    font-weight: 900;
    margin-top: -10px;
    margin-left: 200px;
    cursor: pointer;
}





ul{
    list-style-type: none;
    display: flex;    
    margin-left: 68rem;
    font-size: 22px;
    margin-top: -8rem;
}
ul li{
    padding: 20px;
    cursor: pointer;
}







.con{
    margin-left: 300px;
}



.img1{
    width: 900px;
    height: 340px;
    margin-top: -40px;
    margin-left: 30px;
}
.p21{
    font-weight: 900;
    font-size: 60px;
    margin-left: 30px;
}
.p22{
    font-size: 25px;
    margin-left: 400px;
    margin-top: -250px;
}
.btn1{
    margin-left: 400px;
    width: 200px;
    height: 40px;
    border: none;
    background-color: rgb(255, 72, 0);
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.cont{
    width: 400px;
    height: 590px;
    background-color: rgb(19, 19, 19);
    margin-left: 970px;
    margin-top: -688px;
}
.p31{
    color: orange;
    font-size: 40px;
    font-weight: 900;
    margin-left: 20px;
}
.p32{
    color: aliceblue;
    font-size: 30px;
    margin-left: 25px;
}
.p33{
    color: rgba(240, 248, 255, 0.603);
    margin-left: 25px;
    margin-top: -20px;
}
hr{
    width: 350px;
    color: rgba(240, 248, 255, 0.719);
    margin-top: 40px
}
.p34{
    color: aliceblue;
    font-size: 25px;
    margin-left: 25px;
}
.p35{
    color: rgba(240, 248, 255, 0.616);
    margin-left: 25px;
}
.p36{
    color: aliceblue;
    font-size: 25px;
    margin-left: 25px;
}
.p37{
    color: rgba(240, 248, 255, 0.61);
    margin-left: 25px;
}


.cont2{
    width: 400px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-left: 30px;
}
.img2{
    width: 130px;
    height: 150px;

}
.p41{
    color: orangered;
    margin-left: 150px;
    margin-top: -150px;
    font-size: 30px;
    font-weight: 900;
}
.p42{
    color: black;
    margin-left: 150px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 900;
}
.p43{
    color: rgba(0, 0, 0, 0.705);
    margin-left: 150px;
}



.cont3{
    width: 400px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-top: -200px;
    margin-left: 530px;
}
.img3{
    width: 130px;
    height: 150px;

}
.p51{
    color: orangered;
    margin-left: 150px;
    margin-top: -150px;
    font-size: 30px;
    font-weight: 900;
}
.p52{
    color: black;
    margin-left: 150px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 900;
}
.p53{
    color: rgba(0, 0, 0, 0.705);
    margin-left: 150px;
}




.cont4{
    width: 400px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-top: -200px;
    margin-left: 980px;
}
.img4{
    width: 130px;
    height: 150px;

}
.p61{
    color: orangered;
    margin-left: 150px;
    margin-top: -150px;
    font-size: 30px;
    font-weight: 900;
}
.p62{
    color: black;
    margin-left: 150px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 900;
}
.p63{
    color: rgba(0, 0, 0, 0.705);
    margin-left: 150px;
}